<app-header></app-header>
<app-panel></app-panel>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <app-productlist></app-productlist>
            </div>
            <div class="col-4">
                <app-productlist></app-productlist>
            </div>
            <div class="col-4">
                <app-productlist></app-productlist>
            </div>
        </div>
    </div>
</div>
<app-two-way-binding></app-two-way-binding>
<app-footer></app-footer>